*{
    margin: 0;
    padding: 0;

}
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.name
{
    color: aquamarine;
    margin: 2px;
     background: rgb(120, 120, 120);
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}